{% extends 'base.html.twig' %}

{% block title %}Nouvel évènement{% endblock %}

{% block body %}
    <h1>Créer un nouvel évènement</h1>
    <p>
       <u>Remarque pour le programme de Festiv'Elles</u>: <br>
        Les heures de début et de fin de chaque évènement sont à saisir dans le champ <i>Texte (optionnel)</i>. <br>
        Laisser l'heure du champ <i>Date</i> à <i>00:00</i>.
    </p>

    {{ include('calendar/_form.html.twig') }}

    <a href="{{ path('index_calendar') }}">Liste de tous les évènements</a>
{% endblock %}
