{% extends 'base.html.twig' %}

{% block title %} Edit'Elles{% endblock %}

{% block banner %}<img src="images/L_Edit_Elles_du_lundi.jpg" alt="bandeau">{% endblock %}


{% block body %}
		<div class="fixedHeight">
            <p> Retrouvez l'Edit'Elles du lundi sur vos réseaux sociaux. Une idée , une proposition de texte ? Contactez nous: <a href="mailto:citoyelles@hotmail.com">citoyelles@hotmail.com</a></p>
			<div class="socialNetworksEditelles">
				<ul>
					<li><a href="https://www.instagram.com/citoyelles/?hl=fr" target="_blank"><img src="images/instagram96.jpg" alt="instagram"></a></li>
					<li><a href="https://www.facebook.com/citoyelles" target="_blank"><img src="images/facebook96.jpg" alt="facebook"></a></li>
				</ul>
			</div>
		</div>
{% endblock %}
