{% extends 'base.html.twig' %}

{% block title %} Edit'Elles{% endblock %}

{% block banner %}<img src="images/L'Edit'Elles du lundi.jpg" alt="bandeau">{% endblock %}


{% block body %}
		<div class="fixedHeight">
            <p> Tous les lundis sur les réseaux sociaux, un texte lié à l'actualité, une prise de position, des infos sur l'assos etc ... </p>
			<div class="socialNetworksEditelles">
				<ul>
					<li><a href="https://www.instagram.com/citoyelles/?hl=fr" target="_blank"><img src="images/instagram96.jpg" alt="instagram"></a></li>
					<li><a href="https://www.facebook.com/citoyelles" target="_blank"><img src="images/facebook96.jpg" alt="facebook"></a></li>
					<li><a href="https://twitter.com/nouetdom" target="_blank"><img src="images/twitter96.png" alt="twitter"></a></li>
				</ul>
			</div>
		</div>
{% endblock %}
