{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <h1> Modifier l'utilisateur</h1>
    <p> 
            Si vous souhaitez changer le nom d'utilisateur modifiez le directement dans le formulaire et validez sans taper le mot de passe. <br><br>
            Pour changer de mot de passe, tapez le mot de passe actuel puis écrivez-le nouveau dans "nouveau mot de passe" et retapez-le dans "validez votre mot de passe".
    </p>


    {{ include('security/_form.html.twig') }}
{% endblock %}
