{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <h1> Modifier l'utilisateur</h1>
    <p> Si vous souhaitez changer le nom d'utilisateur modifié le directement dans le formulaire</p>


    {{ include('security/_form.html.twig') }}
{% endblock %}