{% extends 'base.html.twig' %}

{% block title %}Modifier l'utilisateur{% endblock %}

{% block body %}
    <h1> Modifier l'utilisateur</h1>
    <p> 
            Si vous souhaitez changer le nom d'utilisateur modifiez le directement dans le formulaire.
            Pour changer de mot de passe écrivez ce dernier dans "nouveau mot de passe" et retapez le dans "validez votre mot de passe" </br>
            Pour toutes modifications n'oubliez pas de taper le mot de passe actuel.
    </p>


    {{ include('security/_form.html.twig') }}
{% endblock %}
