{% extends 'base.html.twig' %}

{% block title %}{{ parent() }} - À propos{% endblock %}

{% block body %}
    <section class="greetings">
        <h2>Les mots de la présidence</h2>
        <p>
            «Citoy'Elles» , dans ce nom il y a l'essentiel de ce que nous voulons porter sur la place desfemmes dans la vie de la cité: des citoyennes engagées, des femmes entendues dans leurs droits, leurs revendications et des actrices reconnues dans les projets de nos villes.
        </p>
    </section>
    <section class="citoyelles">
        <h2>Citoy'Elles</h2>
        <h3>Nos engagements</h3>
        <p>
            Lorsqu'est évoquée l'égalité femmes hommes, sont rappelées les avancées et les chantiers en
            cours comme si tout était acquis ou sur le point de l'être. Pourtant tout reste fragile et l'ensemble
            des mesures prises, si elles sont positives, ne parviennent pas à parvenir à l'égalité réelle. Notre
            société s 'est construite sur un modèle patriarcal que ce soit nos institutions, nos systèmes
            hiérarchiques et d'organisations et ce constat, que notre société a encore du mal à prendre en
            compte, ne doit freiner aucune avancée. Bien au contraire cela oblige à travailler collectivement
            sur la place des femmes dans la cité et cela, à l'évidence, ne peut se faire sans elles.</p>
        <p>
            Citoy'Elles aura à cœur de toujours porter les droits des femmes dans la vie publique de
            l'urbanisme aux violences conjugales en passant par tous les sujets de la vie de la société. Les
            femmes qui s'investissent en politique ont le courage d'évoluer dans un monde où l'entre-soi
            masculin reste la norme. Ce sont elles pourtant qui prônent un rapport au temps efficace et un
            souci constant de formation pour maîtriser les dossiers . Engagées sans baisser les bras elles
            relèvent le défi de leur triple vie sociale, politique et familiale. <br>
            Ces constats imposent de changer les codes en soutenant et valorisant la place des femmes en
            politique c'est à ce prix que pourra avancer la parité vers l'égalité en accompagnant les femmes
            élues dans toutes les assemblées. La parité institutionnelle ne doit plus être considérée dans les
            partis comme une obligation imposée par le paiement d'amendes, elle doit être une volonté de
            faire évoluer la société.
        </p>
        <p>
            L 'accès aux responsabilités, l'émancipation, l'évolution des droits nous semblent être des points
            d'appuis essentiels par lesquels la place des femmes doit être valorisée et non plus considérée
            comme une variable d'ajustement qui continuerait à faire d'elles des subalternes, voir des faire-
            valoir. En clair l'égalité réalisée doit être un objectif et ne doit plus se contenter des déclarations de
            bonnes intentions souvent portées avec « conviction » par...des hommes. Le féminisme n'attend
            aucune guerre, il se satisferait d'une société de droits et devoirs égaux et ce sont bien les
            résistances qui provoquent des réactions jugées, à tort et sans aucun recul, excessives voir
            hystériques.
        </p>
        <p>
            Les inégalités sociales, économiques, culturelles et financières sont le terreau sur lequel
            s'installent des violences du même nom. Le travail à temps partiel subi très majoritairement par
            des femmes élevant seules leurs enfants en est l'un des exemples. Nous avons entendu lors des
            débats sur les bandes dans les quartiers que souvent les jeunes incriminés venaient de foyers
            monoparentaux, élevés par une mère solo, mais, dans le même temps et alors que la mère était
            stigmatisée, aucune voix n'a rappelé l'existence de pères absents, démissionnaires ou déserteurs
            du foyer. Cette charge mentale pesant sur les mères est une violence et un affront fait à leur
            quotidien entre travail, éducation des enfants et gestion du foyer.
        </p>
        <p>
            Nous pouvons aussi évoquer la situation très inégalitaire dans l'accès aux responsabilités en
            entreprise, dans les pratiques sportives et culturelles. Les notions de pouvoir, de domination,
            d'emprise sont souvent au centre de ces inégalités et le dire n'est pas entrer dans un guerre des
            sexes inutiles et contre-productive, mais de travailler à déconstruire des stéréotypes et des
            modèles de fonctionnement qui entretiennent ces inégalités. Il n'y a d'excès que lorsque le silence
            de ceux qui écoutent n'entend plus rien.
        </p>
        <p>
            Les violences conjugales, sexuelles, sexistes, malgré certaines avancées non négligeables, ne
            diminuent pas sensiblement. Pire, et bien logiquement dans ces périodes de confinement, elles
            augmentent. Faut-il y voir une absence de moyens, des mesures inadaptées ou une volonté
            politique en demie teinte ? Un peu tout cela à la fois. Les initiatives prises et impulsées sur les
            territoires au plus près des victimes sont souvent des expériences réussies de prise en charge des
            ces violences. Les enfants, souvent otages de ces violences quand ils n'en sont pas victimes, ne
            doivent évidemment pas être oubliés. Dans ce long et difficile combat, nous poserons quelques
            principes : entendre les victimes, comprendre les mécanismes des violences, informer, prévenir et
            proposer. <br>
            MeToo ne s'arrête pas aux réseaux sociaux et si nombre de victimes sont venues s'y exprimer
            c'est à l'évidence parce que leur parole, leur vécu n'ont été ni entendus ni compris par nos
            institutions supposées les protéger : les défaillances de la police, la justice et les services sociaux
            en appellent à une réforme en profondeur qui ne viendra qu'en entendant la parole des victimes et
            des associations qui les accompagnent.
        </p>
        <p>
            Les droits des femmes restent fragilisés partout dans le monde dès lors que celles ci sont soit
            privées de liberté, soumises ou empêchées d'accéder à des droits qui ne devraient même pas
            poser question comme celui à l'IVG. Il est là un combat universaliste à mener.
        </p>
    </section>
{% endblock %}