{% extends 'base.html.twig' %}

{% block title %}Citoy'Elles{% endblock %}

{% block body %}
    <section class="greetings">
        <h2>Bienvenue dans votre association Citoy'Elles</h2>
    </section>
    <nav class="insidenav">
        <ul>
            <li>
                <a href="#"><img src="images/FestivEllesduLivreW400.jpg" alt="Festiv'Elles du livre"></a>
            </li> {# Festiv'Elles du livre #}  <li>
                <a href="#"><img src="images/Les_Rencontres_Citoy_EllesW400.jpg" alt="Les Rencontres Citoy'Elles"></a>
            </li> {# Les Rencontres Citoy'Elles #}
            <li>
                <a href="#"><img src="images/editellesW400.png" alt="L'Edit'Elles du lundi"></a>
            </li> {# L'Edit'Elles du lundi #}
            <li>
                <a href="#"><img src="images/PortrEllesW400.png" alt="Portr'Elles"></a>
            </li> {# Portr'Elles #}
        </ul>
    </nav>
{% endblock %}
