{% extends 'base.html.twig' %}

{% block title %}Citoy'Elles{% endblock %}

{% block body %}
	<img src="images/banner.png" alt="bandeau">
    <h1>Citoy'Elles</h1>
    <section class="greetings">
        <h2>Les mots de la présidence</h2>
        <p>
            «Citoy'Elles» , dans ce nom il y a l'essentiel de ce que nous voulons porter sur la place desfemmes dans la vie de la cité: des citoyennes engagées, des femmes entendues dans leurs droits, leurs revendications et des actrices reconnues dans les projets de nos villes.
        </p>
        {# <p>
            «Elles», dans ce féminin pluriel est symbolisé l'ensemble de nos actions et notre philosophie:Égalité Liberté Laïcité Ensembles. Ces quatre mots ne peuvent exister l'un sans les autres quelque soit le sujet traitant des droits et de l'égalité femmes hommes. L'universalisme est pour nousune   boussole   qui   donne   le   cap   au   vivre   ensemble   et   s'oppose   aux   tentations   decommunautarismes, la non mixité n'étant pas un vecteur d'égalité à nos yeux. 
        </p>
        <p>
            Les inégalités femmes hommes perdurent et se creusent en temps de crise, celle que nous vivonsn'échappant pas à cette règle. Nous agirons à notre niveau et à notre place avec cette volonté deproposer en étant à l'écoute des femmes qui restent les grandes absentes des cercles de pouvoiret de décision. 
        </p> #}
        <p>
            La présidence, <br>
            Caroline Deforge, Dominique Nouet
        </p>
    </section>
    <nav class="insidenav">
        <ul>
            <li>
                <a href="#"><img src="images/FestivEllesduLivreW400.jpg" alt="Festiv'Elles du livre"></a>
            </li> {# Festiv'Elles du livre #}  <li>
                <a href="#"><img src="images/Les_Rencontres_Citoy_EllesW400.jpg" alt="Les Rencontres Citoy'Elles"></a>
            </li> {# Les Rencontres Citoy'Elles #}
            <li>
                <a href="#"><img src="images/editellesW400.png" alt="L'Edit'Elles du lundi"></a>
            </li> {# L'Edit'Elles du lundi #}
            <li>
                <a href="#"><img src="images/PortrEllesW400.png" alt="Portr'Elles"></a>
            </li> {# Portr'Elles #}
        </ul>
    </nav>


{% endblock %}
