{% extends 'base.html.twig' %}

{% block title %}Nouveau Membre{% endblock %}

{% block body %}
    <h1>Crée un nouveau membre</h1>

    {{ include('member/_form.html.twig') }}

    <a href="{{ path('festivelles') }}">revenir sur la page festivelles</a>
{% endblock %}
