{% extends 'base.html.twig' %}

{% block title %}Festiv'Elles{% endblock %}

{% block banner %}<img src="images/FestivEllesduLivreW400.jpg" alt="bannière du festival Festiv'Elles">{% endblock %}

{% block body %}

    <h1>Festiv'Elles</h1>
    <section class="greetings">
        <h2>Présentations </h2>
        <p>
                Dans un château chargé d'histoire au coeur d'un parc séculaire, Le Festiv'Elles du Livre
                vous accueillera les 9,10 et 11 septembre 2022. L'espace sera entièrement dédié aux
                femmes et à l'écrit: des autrices viendront vous raconter leurs livres, leurs parcours et
                certaines participeront aux débats organisés. Une animation culturelle festive vous
                racontera par la poësie, la musique, le théatre des histoires de femmes dans un feu
                d'artifice de mouvement dynamique sous la baguette magique de la Compagnie Cano
                Lopez.
        </p>
        <p>
                Vous y viendrez débattre sur la place des femmes dans la vie de la cité, des inégalités
                femmes hommes et des droits des femmes si souvent encore maltraités. Aurore le Goff,
                conférencière et membre de l'ONU femmes Francea animera ces débats et vous guidera
                au gré des stands durant ces deux jours
        </p>

        <p>
                Tout sera fait pour vous accueillir dans une ambiance joyeuse sans ne jamais négliger
                l'importance de l'enjeu premier du Festiv'Elles du Livre: donner aux femmes un espace de
                visibilité et de paroles. Qoui de mieux que l'écrit, les mots si souvent tus pour y parvenir ?
                L'autre évènement du Festiv'Elles du Livre sera théatral: une création originale des
                "Monologues du vagin" que viendront présenter Karine Isambert et ses comédiennes lors
                des deux représentations en soirée les 9 et 10 septembre.
        </p>

        <h2> Organigramme </h2>
        <h3> Direction Générale </h3>
        <p>
            Dominique Nouet, Caroline Deforge,Michel Nemesien
        </p>
        <h3> Budget - Comptabilité </h3>
        <p>
            Michel Nemesien
        </p>
        <h3> Relation presse médias </h3>
        <p>
            Dominique Nouet
        </p>
        <h3> Relation partenaires </h3>
        <p>
            Caroline Deforge
        </p>
        <h3> Animation artistique </h3>
        <p>
            José Cano Lopez
        </p>
        <h3>  Coordination débats et unitées </h3>
        <p>
            Aurore Le goff
        </p>
        <h3> Organisation logistique et bénévoles</h3>
        <p>
            Cédric Ardouin
        </p>

        <h2> Programme </h2>

        {#  J'ai mis ce programme pour donner une idée mais il sera modifiable au besoin #}

        <ul>
            <li>Vendredi 9 septembre 18h00 - 19h30
                            Inauguration officielle
                 21h : Soirée théatre "Les monologues du vagin"
            </li>
            <li>Samedi 10
                8h00 - 9h30 Accueil et installation des autrices
                10h - 19h : ouverture au public
                21h: Soirée théatre: "Les monologues du vagin".
            </li>
            <li> Dimanche 11
                10h - 18h : ouverure au public et clôture du Festiv'Elles
                16h - 18h : Compagnie Cano Lopez, spectacle "Les Tour'Ang'Elles".
                Durant les journées de samedi
            </li>
        </ul>

        <h2> Monologues du vagin </h2>

        <p> Lorem ipsum dolor sit amet consectetur, adipisicing elit. Vero expedita, odit autem laborum voluptas ut,
            obcaecati harum quae voluptatem non officiis beatae maxime maiores nemo laboriosam quo quod asperiores.
            Aliquid illo facilis tenetur ullam quaerat delectus consequatur voluptatum esse,
            ad fugit iusto alias earum nulla repellat labore dolores dignissimos eum?
        <p>

        <ul>
            {% for article in articles %}
            <h2>{{ article.title }}</h2>
            <p>{{ article.date|format_datetime('full', 'none', locale='fr') }}</p>
            <p>
                <pre>{{ article.content }}</pre>
            </p>
            {% endfor %}
        </ul>

    </section>

{% endblock %}
