<div class="article">
    <h3 class="article-title">Le temps des roses</h3>
    <p>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Totam ipsam ea aperiam est tenetur quidem repudiandae beatae possimus quibusdam, natus magnam? Adipisci non fugiat blanditiis consectetur sunt. Odit, veritatis aliquam?
    </p>
</div>