:root {
    --title-color: #3f48cc;
    --police-color: #3d3d3d;
    --article-color: #EFF1FF;
    --line-height: 1.5;
}

@font-face {
    font-family: 'Segoe Print';
    src: url(/public/polices/Segoe_print/Segoe-Print-Font.ttf), url(/public/polices/Segoe_print/Segoe-Print-Font.eot), url(/public/polices/Segoe_print/Segoe-Print-Font.otf), url(/public/polices/Segoe_print/Segoe-Print-Font.svg), url(/public/polices/Segoe_print/Segoe-Print-Font.woff);
}

@font-face {
    font-family: 'Virtual Regular';
    src: url(/public/polices/Virtual_script/Virtual-Regular.ttf), url(/public/polices/Virtual_script/Virtual-Regular.eot), url(/public/polices/Virtual_script/Virtual-Regular.otf), url(/public/polices/Virtual_script/Virtual-Regular.svg), url(/public/polices/Virtual_script/Virtual-Regular.woff);
}


/* reset CSS */

* {
    box-sizing: border-box;
}


/* reponsive images */

img {
    width: 100%;
    height: auto;
    display: block;
}


/* general css --------------------------------------------------------*/

body {
    margin: 0;
    font-family: 'Open Sans', sans-serif;
    font-size: 1rem;
    line-height: var(--line-height);
    color: var(--police-color);
    overflow-x: hidden;
}

main {
    max-width: 1010px;
    margin: auto;
    padding: 10px;
}


/* elements of main*/

h1,
h2 {
    color: var(--title-color);
}

h1 {
    text-align: center;
    font-size: min(calc(16px + 1vw), 26px);
}

h2 {
    text-align: center;
    font-size: min(calc(12px + 1vw), 22px);
}

#infoAndFollowTitle {
    font-size: min(calc(10px + 1.2vw), 22px);
}

h3,
p {
    text-align: justify;
    font-size: min(calc(8px + 1vw), 18px);
}

/* flash message */

#flashMessage {
    margin: auto;
    z-index: 100;
    width: 50%;
    height: 100px;
    background-color: yellowgreen;
    color: white;
    font-style: italic;
    font-weight: 700;
    text-align: center;
    padding: 20px;
    border: 3px solid var(--police-color);
    border-radius: 4px;
}

/* top button */

#myBtn {
    display: none;
    position: fixed;
    bottom: 100px;
    right: 30px;
    z-index: 2000;
    font-size: 18px;
    border: none;
    outline: none;
    background-color: var(--title-color);
    color: white;
    cursor: pointer;
    padding: 15px;
    border-radius: 4px;
    border: 3px solid white;
}

#myBtn:hover {
    color: var(--title-color);
    background-color: #fff;
    border: 3px solid var(--title-color);
}


/* footer */

footer {
    background-color: var(--title-color);
}

footer h1,
footer h2,
footer section,
footer a {
    color: white;
    font-size: min(calc(8px + 1vw), 18px);
    text-align: left;
}

footer h1 {
    text-decoration: underline;
    text-align: center;
    padding: 2%;
    margin: 0;
}

footer ul {
    padding: 0;
}

footer li {
    list-style: none;
}

footer img {
    width: 20px;
    margin: 10px;
}

.footer-flex {
    display: flex;
    justify-content: space-evenly;
    align-items: flex-start;
}

.socialAndMember {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}

.socialNetworks ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
}

.membership {
    margin-bottom: 10%;
    align-self: center;
}


/* index -------------------------------------------------------*/

.insidenav ul {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-areas: "festivelles festivelles rencontres rencontres" ". about about ." ". about about ." "editelles editelles portrelles portrelles";
    list-style: none;
    padding: 0;
}

.insidenav li:nth-child(1) {
    grid-area: about;
    transform: rotate(5deg);
}

.insidenav li:nth-child(2) {
    grid-area: festivelles;
    transform: rotate(-10deg);
}

.insidenav li:nth-child(3) {
    grid-area: rencontres;
    transform: rotate(10deg);
}

.insidenav li:nth-child(4) {
    grid-area: editelles;
    transform: rotate(-10deg);
}

.insidenav li:nth-child(5) {
    grid-area: portrelles;
    transform: rotate(10deg);
}

.insidenav li {
    transition-property: transform;
    transition-duration: 0.3s;
}

.insidenav li:hover {
    z-index: 1234;
    transform: rotate(0deg) scale(1.3, 1.3);
    transition-duration: 0.5s;
}

.insidenav img {
    width: 70%;
    margin: 1rem;
    border: 3px solid transparent;
    border-radius: 5px;
}

.insidenav img:hover {
    z-index: 1234;
    border: 3px solid var(--title-color);
    box-shadow: 0 0 10px var(--title-color);
}


/* Meetings-----------------------------------------------------*/

.article {
    background-color: var(--article-color);
    border: darkgrey 1px;
    border-radius: 5px;
    padding-right: 10px;
    padding-left: 10px;
    padding-top: 5px;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.article * {
    margin-top: 0;
}


/* Actu'Elles-----------------------------------------------------*/

.logo_citoyelles {
    width: 50px;
}


/* Media Queries--------------------------------------------------*/

@media screen and (max-height: 450px) {
    .sidenav {
        padding-top: 15px;
    }
    .sidenav a {
        font-size: 18px;
    }
}

@media screen and (max-width: 900px) {
    /* elements of sidenav*/
    #burger {
        z-index: 100;
        position: absolute;
        right: 10px;
        top: 10px;
        color: var(--title-color);
    }
    .sidenav {
        height: 100%;
        width: 0;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
        background-color: rgba(63, 72, 204, 0.95);
        overflow-x: hidden;
        transition: 0.5s;
        padding-top: 60px;
    }
    .sidenav ul {
        list-style: none;
        padding: 0;
    }
    .sidenav a {
        padding: 8px 8px 8px 32px;
        text-decoration: none;
        font-size: 20px;
        color: #f1f1f1;
        white-space: nowrap;
        display: block;
        transition: 0.3s;
    }
    .sidenav a:hover {
        color: #818181;
    }
    .sidenav .closebtn {
        position: absolute;
        top: 0;
        right: 25px;
        font-size: 36px;
        margin-left: 50px;
    }
}

@media screen and (min-width: 901px) {
    /* elements of sidenav */
    #burger,
    .closebtn,
    #closebtnli {
        display: none;
    }
    .main-flex-container {
        display: flex;
    }
    .sidenav {
        position: sticky;
        width: 400px;
        min-width: 400px;
        min-height: 100vh;
        border-right: 1px solid var(--title-color);
        background-color: var(--article-color);
    }
    .sidenav ul {
        padding: 0;
        margin: 0;
        min-height: 100vh;
        position: sticky;
        top: 0;
    }
    .auth {
        position: sticky;
        top: calc(100vh - 1.5em);
        text-align: center;
    }
    .auth-link {
        color: var(--title-color);
        text-decoration: none;
    }
    .sidenav li {
        list-style: none;
        padding-top: 1em;
        padding-bottom: 1em;
        padding-left: 40px;
        border-bottom: 1px solid var(--title-color);
    }
    .sidenav .nav-link {
        display: block;
        text-decoration: none;
        color: var(--title-color);
        font-size: 20px;
    }
    .sidenav a:hover {
        font-weight: 600;
    }
    @media (max-width: 1200px) {
        .sidenav {
            width: 260px;
            min-width: 260px;
        }
        .sidenav li {
            padding-left: 10px;
        }
        .sidenav a {
            font-size: 16px;
        }
    }
}


/* Edit'Elles-----------------------------------------------------*/

.fixedHeight {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    height: 30vh;
}

.socialNetworksEditelles ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    padding: 0;
    list-style: none;
}


/* Actu'Elles-----------------------------------------------------*/

.logo_citoyelles {
    width: 50px;
}

.portelles {
    display: flex;
    flex-direction: column;
}