<!DOCTYPE html>
<html lang="fr">
	<head>
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
		<link rel="icon" type="image/png" href="images/favicon.ico"/>
		<title>
			{% block title %}Projet 3 Name{% endblock %}
		</title>

		{% block stylesheets %}
			{{ encore_entry_link_tags('app') }}
		{% endblock %}


	</head>
	<body>
		<header>
			<div class="banner">
				<img src="images/banner.png" alt="bandeau">
			</div>
			<span id="burger" style="font-size:30px;cursor:pointer">&#9776;</span>
		</header>
		<div class="main-flex-container">
			<nav class="sidenav">
				<ul>
					<li><a href="javascript:void(0)" class="closebtn">&times;</a></li>
					<li><a href="#">Accueil</a></li>
					<li><a href="#">Festiv'Elles du livre</a></li>
					<li><a href="#">Les Rencontres Citoy'Elles</a></li>
					<li><a href="#">L'Edit'Elles du lundi</a></li>
					<li><a href="#">Pour Elles</a></li>
				</ul>
			</nav>
			<main>
			{% block body %}{% endblock %}
			</main>
		</div>
		<footer>

		</footer>
		{% block javascripts %}
			{{ encore_entry_script_tags('app') }}
		{% endblock %}
	</body>
</html>
