{% extends 'base.html.twig' %}

{% block title %}Hello ActuEllesController!{% endblock %}

{% block body %}

    <img src="images/Actu'Elles.jpg" alt="bandeau">

    <h1>Port'Elles</h1>

        <img src="" alt="">
        <p> 
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolorum assumenda aliquid, quo illo quisquam similique eligendi facilis! Dolore iste fugiat perferendis, 
            accusantium quod veniam ducimus dolorem laborum, repellat aliquid error sit, repudiandae hic cum quibusdam. 
            Maxime vitae sit commodi porro iste sapiente, possimus natus sed dolorem veniam, inventore, quibusdam voluptatum! 
        </p>


    <h1> Citoy'Elles </h1>
    <p> Dossiers et actualités de notre association </p>
    
    
    {% endblock %}
