{% extends 'base.html.twig' %}

{% block title %}Actu'Elles{% endblock %}

{% block banner %}<img src="images/Actu'Elles.jpg" alt="bannière actu'elles">{% endblock %}

{% block body %}

        <h1> Actu'Elles </h1>

    <h2>Port'Elles</h2>

        <img src="" alt="Portrait">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit.
            Dolorum assumenda aliquid, quo illo quisquam similique eligendi facilis! Dolore iste fugiat perferendis,
            accusantium quod veniam ducimus dolorem laborum, repellat aliquid error sit, repudiandae hic cum quibusdam.
            Maxime vitae sit commodi porro iste sapiente, possimus natus sed dolorem veniam, inventore, quibusdam voluptatum!
        </p>


        <h2> Citoy'Elles </h2>
            <img src="images/itoy'elles (8).png" alt="logo" class="logo_citoyelles">
        <h3> Dossiers et actualités de votre association </h3>
        <p>  </p>
    {% endblock %}
