{% extends 'base.html.twig' %}

{% block title %}Nouvel Article{% endblock %}

{% block body %}
    <h1>Nouvel Article :</h1>
    {{ include('article/_form.html.twig') }}
    <p>
        {{ error }}
    </p>
    <a href="{{ path('home') }}">Accueil</a>
    <h2>Remarques</h2>
    <ul>
        <li>Le type, le titre et le texte sont <u>obligatoires</u>.</li>
        <li><u>Taille max des photos</u> : 1 méga octet (~ 1000 kilo octets) et de préférence <i>la moins lourde possible.</i></li>
        <li>Image et lien vidéo YouTube sont <u>optionnels</u>.</li>
        <li>Les liens YouTube sont de type : <br>
            <u>https://www.youtube.com/embed/gVbAdncN3JY</u> <br>
            Bien vérifier que le mot <i><b>embed</b></i> est présent dans le lien YouTube comme ci-dessus.
        </li>
    </ul>

{% endblock %}
